---
layout: default
---

{% include desktop.html %}

{% include windows/welcome.html %}

<div class="window hidden" id="upload">
    <div class="title-bar">
        <div class="title-bar-text">Load Images</div>
        <div class="title-bar-controls">
            <button onclick="reset()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <p>"Upload" a folder of images to generate a contact sheet.</p>
        <div class="my-3">
            <img src="img/msg_information-0.png" alt="" style="float: left" class="mr-1">
            <p>For best results, use a folder of images with a consistent aspect ratio (3:2) and keep number of images between 12 to 40.</p>
            <p>No images will be uploaded to the server. All processing is done locally in your browser.</p>
        </div>
        <input type="file" id="uploadImageButton" webkitdirectory mozdirectory msdirectory odirectory directory multiple/>
        <section class="field-row">
            <button id="uploadImageButton_alt" disabled>Continue</button>
        </section>
    </div>
</div>

<div class="window hidden" id="uploadProgress">
    <div class="title-bar">
        <div class="title-bar-text">Processing</div>
    </div>
    <div class="window-body">
        <img src="img/tshell32_168.gif" alt="">
        <p>Processing images...</p>
        <p id="uploadProgressText" class="progress-bar-text"></p>
        <div class="progress">
            <div id="uploadProgressBar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>

<div class="window hidden" id="imagePreviewWindow">
    <div class="title-bar">
        <div class="title-bar-text">Image Preview</div>
            <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button onclick="reset()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">

        <div id="imagePreview">
            <p>No images</p>
        </div>

        <section class="field-row">
            <button id="imagePreviewCancel" onclick="reset()">Start Over</button>
            <button id="imagePreviewProceed" onclick="showFilmSelect()">Continue</button>
        </section>
    </div>
</div>

<div class="window hidden" id="filmSelectWindow">
    <div class="title-bar">
        <div class="title-bar-text">Filmstrip Settings</div>
            <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button onclick="hideFilmSelect()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <div id="filmSelect" class="filmStockSelect pb-2 mb-2">
            <div class="filmstock disabled">
                <img src="img/filmrolls/unknown_roll_icon.png" alt="">
                <p>No rolls loaded</p>
            </div>
        </div>
        <div id="film120Options" class="hidden" style="padding: 4px 0;">
            <label for="film120Date" style="font-size:11px;">Film code</label><br>
            <input type="text" id="film120Date" placeholder="e.g. 0303" style="width:100%; font-size:11px;">
        </div>
        <section style="text-align: right; padding-top: 4px;">
            <button onclick="showFilmstrip()">Continue</button>
        </section>
    </div>
</div>

<div class="window hidden" id="filmstripPreviewWindow">
    <div class="title-bar">
        <div class="title-bar-text">Filmstrip Preview</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button onclick="hideFilmstrip()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <div id="filmstripPreview">
            <div class="my-3">
                <button id="refreshButton" onclick="refreshImages()">Refresh</button>
                <button id="previewButton" onclick="previewDraw();">Preview</button>
                <button id="generateButton" onclick="showContactSheet();">Generate!</button>
                <!-- <p>Tip: use the scroll bar to scoll horizontally</p> -->
            </div>
            <div class="pb-2" style="overflow-x: scroll;">
                <img src="#" alt="" id="filmstripimg">
            </div>
            <!-- <canvas class="my-3" id="p5canvas"></canvas> -->
        </div>
    </div>
</div>

<div class="window hidden" id="contactSheetWindow">
    <div class="title-bar">
        <div class="title-bar-text">Contact Sheet</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button onclick="hideContactSheet()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <img src="#" alt="" id="contactsheetimg">
    </div>
</div>


<!-- warning dialogue boxes -->
<div class="window hidden" id="errorDialog">
    <div class="title-bar">
        <div class="title-bar-text">Placeholder</div>
        <div class="title-bar-controls">
            <button onclick="dismissErrorDialog()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <div class="vertical-div" style="display: flex;">
            <div class="left-div" style="width: 15%; display: flex; justify-content: center; align-items: center;">
                <img src="img/msg_error-0.png" alt="">
            </div>
            <div class="right-div pl-2" style="width: 85%;">
                <p class="error-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia adipisci et cum. Eveniet culpa libero, molestias dolore tempore neque ad hic sunt eaque, ipsum maxime, laudantium nostrum odit rerum dolores.
                </p>
            </div>
        </div>
        
        <section style="text-align: center;">
            <button onclick="dismissErrorDialog()">OK</button>
        </section>
    </div>
</div>

<!-- todo -->
{% include windows/todo.html %}

{% include start-bar.html %}


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>

<!-- p5.js -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.js"></script>

<script src="js/fonts.js"></script>
<script src="js/filmstock_properties.js"></script>
<script src="js/dxcode.js"></script>
<script src="js/contact_sheet.js"></script>
<script src="js/image_loader.js"></script>
<script src="js/ui.js"></script>
